body {
	font-family: Arial;
}
nav {
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #00ffb1;
	overflow-y: hidden;
}
#content{
	margin-left: 200px;
}
#sidenav{
	height: 100%;
 	width: 200px;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	background-color: #6fe4c1;
	overflow-x: hidden;
	padding-top: 70px;
}