body {
	font-family: Arial;
	background-color: #f9f9f9;
}
#main{
	margin-left: 210px;
	margin-bottom: 45px;
	background-color: #f9f9f9;
}
#sidenav{
	height: 100%;
 	width: 200px;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	background-color: #6fe4c1;
	overflow-x: hidden;
	padding-top: 70px;
}
#topnav{
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 1;
	background-color: #00ffb1;
	overflow-y: hidden;
}
#bottom{
	position: fixed;
	width: 100%;
	height: 40px;
	bottom: 0px;
	background-color: #f9f9f9;

}
#dropdown{
	right: 20px;
	top: 8px;
	position: fixed;
}
.dropdown-menu {
	float: right;
	z-index: 10000;
}
#togglesidenav{
	position: fixed;
	top: 7px;
	left: 10px;
	cursor: pointer;
}
#welcomesign{
	margin-top: 14px;
}
#content{
	margin-top: 60px;
}
#topnavLogin{
	right: 100px;
	top: 12px;
	position: fixed;
}
#topnavSignup{
	right: 20px;
	top: 12px;
	position: fixed;
}