body {
	font-family: Arial;
}
#content{
	margin-left: 200px;
}
#sidenav{
	height: 100%;
 	width: 200px;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	background-color: #6fe4c1;
	overflow-x: hidden;
	padding-top: 70px;
}
#topnav{
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #00ffb1;
	overflow-y: hidden;
}

/* error.php */
#ePHP {
	/*background-image: url("razgover.com/images/spaceBackground.jpg");*/
	background-image: url("localhost/Chattify/Chattify/images/spaceBackground.jpg");
	color: white;
}